.App {
  text-align: center;
  background-color: #303949;
  background-position: bottom;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}
